html{
    background-color: #d6e2f0ff;
    font-family: "Outfit", sans-serif;

}

#qrCode{
    border-radius: 15px;
    margin: auto;
    width: 288px;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
}
section{
    margin: auto;
    background-color: #ffffff;
    padding: 23px;
    border-radius: 25px;
    width: 288px;
    justify-content: center;
}

#topText{
    font-weight: 700;
    text-align: center;
    font-size:20px;
    margin-top: 10px;
}

#bottomText{
    color: #68778dff;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}